@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'tenpines-material-components';
@import 'ember-power-select/themes/material';
@import 'ember-power-select';

.container {
  max-width: none;
}
.ultimo-tema-stile{
  border-bottom:dashed;
  border-bottom-color:#ff2323 ;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.parcheDeContEditor{
  position: relative;
  height: 65px;
}
.parcheDeEditorBottom{
  position: absolute;
  bottom: 0px;
}
.crop {
  overflow:auto;
  overflow-wrap: break-word;
}​

.titulo-de-tema {
  font-size: x-large;
}

.clickable {
  cursor: pointer;
}

.indivisible {
  white-space: nowrap;
}

.con-padding {
  padding: 20px;
}

.text-viewer {
  white-space: pre
}

@import "ember-power-select";
