<div class="col s4 ">
  <div class="card">
    <a class="btn-floating waves-effect waves-light red right"  {{action cerrarNoVotantes}}><i class="material-icons ">close</i></a>

    {{#each noVotantes as |usuario|}}
      <tr >
        <td>{{usuario.name}}
        </td>
        <td>
          <img class="circle"  height="25" width="25"src="/Emoji%20Smiley-33.png">
        </td>
      </tr>

    {{/each}}
  </div>
</div>