<div class="card-action right-align">
  {{#copy-button
    clipboardText=textoMinuta
    classNames='waves-effect waves-light btn'
  }}
    <i class="material-icons right">content_copy</i>
    Copiar
  {{/copy-button}}
  {{tenpines/material-button label='Descargar txt' click=(action 'descargarTxt') icon="cloud_download" iconPositionClass="right"}}
</div>

<div class="card" >
  <div class="card-content">
    <span>
      <p class="text-viewer">{{textoMinuta}}</p>
    </span>
  </div>
</div>
