<div class="row">
  <div class="col s12">
    <h5>Asistentes a la reunión</h5>
  </div>
</div>

<div class="row">
  <div class="col s12">
      {{#power-select-multiple
        options=usuariosSeleccionables
        selected=usuariosSeleccionados
        placeholder="Seleccione los asistentes a la reunión"
        noMatchesMessage="No more pinos"
        onchange=(action (mut usuariosSeleccionados))
        as |usuario|
      }}
        {{usuario.login}}
      {{/power-select-multiple}}
  </div>
</div>

<div class="card-action right-align">
  <a class="waves-effect waves-light btn" onclick={{action 'guardarUsuariosSeleccionadosYContinuar'}} >Siguiente: Conclusiones</a>
</div>